<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.FYP.aardvark_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GUI.Activity_Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GUI.Activity_Project_View"
            android:label="@string/projectView_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GUI.Activity_Splash_Screen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- THIS INTENT FILTER DEFINES WHICH ACTIVITY FIRST LAUNCHED WHEN THE APP RUNS -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GUI.Activity_Enc_Dec" />
        <activity
            android:name=".GUI.Activity_About_Us"
            android:label="@string/title_activity_gui_about_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GUI.Activity_calculate_IC"
            android:label="Frequency Analysis"
            android:theme="@style/AppTheme" />
        <activity android:name=".GUI.Activity_Note" />
        <activity
            android:name=".GUI.Activity_Settings"
            android:label="@string/title_activity_settings" />
        <activity android:name=".GUI.Activity_graph_nGram" />
        <activity android:name=".GUI.Activity_graph_character_frequency" />
        <activity android:name=".GUI.Activity_Introduction"></activity>
    </application>

</manifest>